*{
    box-sizing: border-box;
    margin: 0%;
}

ul,ol{
    padding: 0;
}

li{
    list-style-type: none;
}

.logoheader{
    border-radius: 90%;
    width: 30%;
    margin: 15px;
    margin-bottom: 0%;
}

.buscar{
    margin: 15px;
    margin-top: 0%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}

.barratexto{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
}

.instagram{
    width: 18%;
}

.container{
    background-color: black;
}

.titulos{
    color: black;
}

.user{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px;
}

header{
    background-color: white;
    border: solid 3px black;
    
}

.cajainicio{
    background-color: white;
    margin-bottom: 20px;
}
body{
    border: solid 3px black;
    background-color: white;
}

.fotochanges{
    height: 20%;
    width: 20%;
    border: 3px solid black;
}

.listadetallealbum{
    list-style-type: square;
}

.listas{
    background-color: yellow;
    border: solid 3px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

a{
    color: white;
}

.caja{
    width: 20%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.names{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
}

.caja img{
    width: 100%;
}

.fotos{
   /* width: 180px;
    height: 180px;*/
    border-radius: 90%;
}

footer{
    background-color: cyan;
}

.equipo{
    background-color: cornsilk;
}

.containergenerosg{
        background-color: rgb(31, 138, 84);
        border: solid 3px rgb(216, 9, 9);
        width: 100%;
        margin-bottom: 20px;
}
.generosg{
    background-color: yellow;
    border: solid 3px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

